body {
  background-color: #fefdf7;
  color: black;
}

main {
  min-height: 75vh;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  color: #f15330;
}

.active-link {
  color: #f15330;
}

footer a {
  color: #f15330;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Home page */

.menu-item {
  background-color: #fefdf7;
}

.menu-item button {
  background-color: #f15330;
  color: #fefdf7;
}

.menu-item button:hover {
  background-color: #e04626;
  color: #fefdf7;
}

/* Admin page */

.accordion-item, .accordion-button, .accordion-button:not(.collapsed){
  background-color: #fefdf7;
}

